version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
    steps:
      - checkout
      - run:
          name: "Install Package"
          command: |
            sudo npm i -g @zowe/cli@latest --@zowe:registry=https://registry.npmjs.org --no-package-lock --force --ignore-scripts
            sudo pip install pipenv
            
      
      - run:
          name: "Run Script "
          command: pipenv run python manage.py $host $port $user $password

